@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

body {
  background: var(--background);
  font-family: var(--font-poppins);
}

.body-layout {
  width: 100vw;
  max-width: 1600px;
  min-width: 300px;
  overflow-x: hidden;
  margin: auto;
}

.roboto-text {
  font-family: var(--font-roboto);
}

footer {
  background-color: #191919;
}
